<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>
<!--
    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>
-->

    <div class="footer-col-1 column">
      <ul>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        {% if site.orcid_username %}<li>
          <a href="https://orcid.org/{{ site.orcid_username }}">
            <span class="icon orcid">
              <svg version="1.1" class="orcid-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                <style type="text/css">
.st0{fill:#A6CE39;}
.st1{fill:#FFFFFF;}
                </style>
                <path class="st0" d="M256,128c0,70.7-57.3,128-128,128C57.3,256,0,198.7,0,128C0,57.3,57.3,0,128,0C198.7,0,256,57.3,256,128z"/>
                <g>
                  <path class="st1" d="M86.3,186.2H70.9V79.1h15.4v48.4V186.2z"/>
                  <path class="st1" d="M108.9,79.1h41.6c39.6,0,57,28.3,57,53.6c0,27.5-21.5,53.6-56.8,53.6h-41.8V79.1z M124.3,172.4h24.5
                  c34.9,0,42.9-26.5,42.9-39.7c0-21.5-13.7-39.7-43.7-39.7h-23.7V172.4z"/>
                  <path class="st1" d="M88.7,56.8c0,5.5-4.5,10.1-10.1,10.1c-5.6,0-10.1-4.6-10.1-10.1c0-5.6,4.5-10.1,10.1-10.1
                  C84.2,46.7,88.7,51.3,88.7,56.8z"/>
                </g>
              </svg>
            </span>
            <span class="username">{{ site.orcid_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.ads_username %}<li>
          <a href="https://ui.adsabs.harvard.edu/search/q=author%3A%22{{ site.ads_username | url_encode }}%22">
            <span class="icon ads">
<!-- view-source:https://ui.adsabs.harvard.edu/styles/img/transparent_logo.svg -->
<svg no_width="1447px" no_height="1271px" class="ads-icon-svg" viewBox="0 0 1447 1271" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
    <title>Slice 1</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <linearGradient x1="100%" y1="80.4645116%" x2="0%" y2="21.0140628%" id="linearGradient-1">
            <stop stop-color="#409FFF" offset="0%"></stop>
            <stop stop-color="#2157CF" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="100%" y1="80.4645116%" x2="0%" y2="21.0140628%" id="linearGradient-2">
            <stop stop-color="#001CFF" stop-opacity="0" offset="0%"></stop>
            <stop stop-color="#5AEAFF" stop-opacity="0.201341712" offset="100%"></stop>
        </linearGradient>
        <radialGradient cx="33.2232386%" cy="23.353294%" fx="33.2232386%" fy="23.353294%" r="100%" id="radialGradient-3">
            <stop stop-color="#FFFFFF" offset="0%"></stop>
            <stop stop-color="#FFFFFF" offset="100%"></stop>
        </radialGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="ads_partial_logo_dark_background" transform="translate(-263.000000, -76.000000)">
            <g id="bbb_logo">
                <g id="Page-1">
                    <g id="bbb_logo">
                        <g id="background" transform="translate(1138.122466, 761.678802) rotate(58.000000) translate(-1138.122466, -761.678802) translate(588.122466, 205.678802)" fill="#A5A5A5">
                            <path d="M528.112875,0.719015946 C843.592699,0.719015946 1099.33963,256.465945 1099.33963,571.945769 C1099.33963,821.202224 939.692881,1033.17118 717.073818,1111.17821 L717.073816,1078.91133 C922.609534,1002.27787 1068.99363,804.222115 1068.99363,571.976525 C1068.99363,273.273317 826.846839,31.1265237 528.143631,31.1265237 C323.224473,31.1265237 153.116874,128.797378 61.3543225,296.801871 C36.2656272,342.735789 25.6418209,388.304587 25.6418209,388.304587 C25.6418209,388.304587 10.9297142,381.836708 0.914887782,379.504783 C71.3133863,147.530051 253.508364,0.719015946 528.112875,0.719015946 Z M336.979966,1110.41219 L336.979969,1078.07294 C215.841317,1032.29258 121.441869,952.140424 59.7631782,839.841838 C59.7631782,839.841838 37.3647192,844.013628 28.5370983,849.151438 C95.6323903,969.811322 205.172307,1063.62386 336.979966,1110.41219 Z" id="Oval-13"></path>
                        </g>
                        <g id="magnifying-glass" transform="translate(845.972113, 920.651037) rotate(58.000000) translate(-845.972113, -920.651037) translate(421.972113, 188.651037)">
                            <path d="M16.58066,303.934754 C32.9858634,247.40689 61.6237015,193.45236 102.776686,146.111267 C254.593541,-28.5340471 519.243419,-47.0401693 693.888733,104.776686 C868.534047,256.593541 887.040169,521.243419 735.223314,695.888733 C583.406459,870.534047 318.756581,889.040169 144.111267,737.223314 C102.104056,700.707003 69.1301304,657.662843 45.3868662,610.913434 C70.5020605,571.955057 85.0758742,525.560351 85.0758742,475.761748 C85.0758742,409.192747 59.033356,348.706302 16.58066,303.934754 Z" id="Combined-Shape" fill="#9B9B9B"></path>
                            <circle id="Oval-9" fill="url(#linearGradient-1)" transform="translate(424.029188, 424.029188) rotate(-49.000000) translate(-424.029188, -424.029188) " cx="424.029188" cy="424.029188" r="300.029188"></circle>
                            <circle id="Oval-9" fill="url(#linearGradient-1)" transform="translate(424.029188, 424.029188) rotate(-49.000000) translate(-424.029188, -424.029188) " cx="424.029188" cy="424.029188" r="300.029188"></circle>
                            <circle id="Oval-9" fill="url(#linearGradient-2)" transform="translate(424.000000, 424.000000) rotate(-49.000000) translate(-424.000000, -424.000000) " cx="424" cy="424" r="260"></circle>
                            <g id="Group-5" transform="translate(429.360512, 1112.857398) rotate(-58.000000) translate(-429.360512, -1112.857398) translate(158.860512, 884.857398)">
                                <g id="Group-6" transform="translate(270.510623, 212.084510) rotate(57.000000) translate(-270.510623, -212.084510) translate(196.510623, -61.915490)" fill="#9B9B9B">
                                    <rect id="Rectangle-7" transform="translate(74.000000, 68.437669) rotate(91.000000) translate(-74.000000, -68.437669) " x="6.9999997" y="32.9375893" width="134" height="71.0001594"></rect>
                                    <path d="M6.82121026e-13,286.830549 L6.82470721e-13,138.814747 L6.82499482e-13,154.640733 C6.82290467e-13,113.77171 33.1219425,80.6408217 74,80.6408217 L74,80.6408217 C114.869071,80.6408217 148,113.77349 148,154.640985 L148,97.2738046 L148,245.277373 L148,473.693758 C148,514.560061 114.878057,547.688745 74,547.688745 L74,547.688745 C33.1309285,547.688745 6.82121026e-13,514.556918 6.82121026e-13,473.681016 L6.82121026e-13,286.830549 L6.82121026e-13,286.830549 Z" id="Rectangle-9"></path>
                                </g>
                                <g id="Group-6" transform="translate(253.057093, 260.033496) rotate(53.000000) translate(-253.057093, -260.033496) translate(187.057093, 23.033496)" fill="#878787">
                                    <path d="M109.439012,4.73337519 C104.611865,3.74331771 99.6133475,3.22332101 94.493384,3.22332101 C53.6153266,3.22332101 20.493384,36.3542097 20.493384,77.2232321 L20.493384,61.3972463 L20.493384,209.413048 L20.493384,396.263515 C20.493384,437.139417 53.6243126,470.271245 94.493384,470.271245 C100.296077,470.271245 105.942484,469.603696 111.360048,468.341226 C77.6553502,461.428491 52.3054288,431.598651 52.3054288,395.84348 L52.3054288,208.993013 L52.3054288,60.9772109 L52.3054288,76.8031967 C52.3054288,41.7354968 76.6915014,12.3650077 109.439012,4.73337519 L109.439012,4.73337519 Z" id="Rectangle-9" transform="translate(65.926716, 236.747283) rotate(185.000000) translate(-65.926716, -236.747283) "></path>
                                </g>
                                <polygon id="Rectangle-9" fill="#878787" transform="translate(470.372371, 106.674235) rotate(58.000000) translate(-470.372371, -106.674235) " points="452.872371 63.9843925 487.872371 63.9843925 487.872371 149.364077 452.872371 139.916627"></polygon>
                            </g>
                        </g>
                        <path d="M891.206723,286.103362 C891.206723,208.726412 828.480312,146 751.103362,146 C673.726412,146 611,208.726412 611,286.103362 C611,363.480312 673.726412,426.206723 751.103362,426.206723 C828.480312,426.206723 891.206723,363.480312 891.206723,286.103362 Z" id="Oval-20" fill="url(#radialGradient-3)"></path>
                        <g id="a" transform="translate(915.000000, 258.000000)" font-size="700" font-family="Helvetica-Bold, Helvetica" fill="#FFFFFF" font-weight="bold">
                            <text>
                                <tspan x="0" y="679">a</tspan>
                            </text>
                        </g>
                        <path d="M1088.43685,863.804373 C1088.43685,745.403341 1021.26545,563.21252 1021.26545,563.21252 C1021.26545,563.21252 1161.06294,558.859749 1246.42335,628.654033 C1330.77443,697.623049 1360.8317,811.989096 1356.07887,881.117152 C1351.32603,950.24521 1308.65926,1048.65206 1246.42335,1097.18651 C1150.2534,1172.1843 1031.10892,1161.06884 1031.10892,1161.06884 C1031.10892,1161.06884 1088.43685,982.2054 1088.43685,863.804373 L1088.43685,863.804373 Z" id="Rectangle-10" fill-opacity="0.09" fill="#000000" transform="translate(1188.912494, 862.404465) rotate(52.000000) translate(-1188.912494, -862.404465) "></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
            </span>
            <span class="username">{{ site.ads_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.github_username %}<li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="icon github">
              <svg version="1.1" class="github-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#C2C2C2" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761
                c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32
                c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472
                c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037
                C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65
                c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261
                c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082
                c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129
                c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
              </svg>
            </span>
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.twitter_username %}<li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="icon twitter">
              <svg version="1.1" class="twitter-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                <path fill="#C2C2C2" d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
                c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27
                c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767
                c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206
                C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271
                c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469
                c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/>
              </svg>
            </span>
            <span class="username">{{ site.twitter_username }}</span>
          </a>
        </li>{% endif %}
      </ul>
    </div>

  </div>

</footer>
